.testimonials {
  width: 100%;
  background-color: #f5a623;
  padding: 3rem;
  margin-bottom: 5rem;
  position: relative;
}

.testimonials h2 {
  font-size: 2.5rem;
  width: 25rem;
  margin-bottom: 20rem;
}

.testimonials__wrapper {
  width: 50vw;
  display: flex;
  gap: 7rem;
  justify-content: center;
  margin: 0 auto;
}

.testimonials__graphic {
  width: 25rem;
  position: absolute;
  bottom: -1rem;
}

.testimonials__container {
  width: 38%;
  margin-top: 3rem;
}

.testimonial__text {
  font-size: 1.125em;
  color: rgb(29, 29, 29);
  font-weight: 400;
  margin-bottom: 2rem;
}

.testimonial__name {
  margin-bottom: 5rem;
  opacity: 0.7;
}

.testimonial__switch {
  margin-left: auto;
}

.next {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.5rem;
}

.next svg {
  width: 1.1rem;
  cursor: pointer;
}
